@use "../../utils/mixin" as *;

/* =============================================================================
 * フィルターUI
 * ========================================================================== */
#filter {
  background-color: 202020;
  border-bottom: solid 4px #303030;

  &__btn {
    margin-left: 15px;
    font-size: 20px;
    line-height: 60px;
    color: white;
    cursor: pointer;
    background-color: transparent;
    border: 0;
    outline: none;
  }

  &__menu {
    position: absolute;
    z-index: 9999;
    width: 280px;
    padding: 5px 0;
    margin-left: 15px;
    background-color: #505050;

    button {
      width: 100%;
      padding: 5px;
      font-size: 20px;
      color: white;
      cursor: pointer;
      background-color: transparent;
      border: 0;
      outline: none;
    }
  }

  @include min-screen() {
    &__btn {
      font-size: 13px;
    }

    &__menu {
      button {
        font-size: 13px;

        &:hover,
        &:focus {
          background-color: #707070;
        }
      }
    }
  }
}
