@use "../utils/foundation";
@use "../utils/mixin" as *;
@use "./component/fadein";
@use "./component/filter";

@include min-screen() {
  #header p,
  h2 {
    font-size: 110%;
  }
}

@include min-screen() {
  #header {
    font-size: 130%;
  }
}

@include min-screen() {
  #ind {
    font-size: 20px;
  }
}


#header p {
  font-weight: bold;
  text-align: center;
}


#footer h2 {
  font-size: 200%;
}

.chat {
  padding: 0 20px;
}

.T {
  margin: 20px auto 15px;
  background-color: #1565c0;
  border-radius: 8px;
}

.T div {
  margin: 0;
}

#Tsubo {
  height: 65px;
}

.en {
  margin-top: 0;
  margin-bottom: 0;
}

.ja {
  margin-top: 20px;
  margin-bottom: 0;
}

.ja_t {
  margin-top: 50px;
  margin-bottom: 0;
  text-align: center;
}

.bord {
  width: 80%;
  margin-top: 40px;
  margin-left: 10%;
  background-color: #181818;
  border: solid 4px #303030;
}

@include min-screen() {
  .bord {
    width: 60%;
    margin-left: 20%;
  }
}

.logo {
  width: 50px;
  margin: 0 0 0 20px;
}

.Text {
  height: 30px;
  height: auto;
  margin: 0 auto;
  border-bottom-right-radius: 8px;
  border-bottom-left-radius: 8px;
}

.Text p {
  margin-top: 0;
  margin-right: 10px;
  margin-left: 15px;
  line-height: 30px;
}

.User {
  display: block;
  height: 35px;
  margin: 0 auto;
  text-align: left;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.Username {
  margin-top: 0;
}

.TL p {
  margin-bottom: 25px;
  margin-left: 15px;
  line-height: 35px;
}

.TL {
  color: black;
  text-decoration: none;
}

.skipbutton {
  position: absolute;
  top: 0%;
  right: 0%;
  cursor: pointer;
  background: transparent;
  border: 0;
  outline: none;
  opacity: 50%;
}

.lightblue_t {
  background-color: #00b8d4;
}

.green_t {
  background-color: #00bfa5;
}

.yellow_t {
  background-color: #ffb300;
}

.orange_t {
  background-color: #e65100;
}

.purple_t {
  background-color: #c2185b;
}

.red_t {
  color: white;
  background-color: #d00;
}

.lightblue_b {
  background-color: #00e5ff;
}

.green_b {
  background-color: #1de9b6;
}

.yellow_b {
  background-color: #ffca28;
}

.orange_b {
  background-color: #f57c00;
}

.purple_b {
  background-color: #e91e63;
}

.red_b {
  background-color: #e62117;
}

.tw {
  color: white;
}

#kiryukai {
  margin-bottom: 0;
  text-align: center;
}

#copyright {
  width: 200px;
  height: 230px;
  margin: 0 auto;
  text-align: center;
}

#a {
  float: left;
}

#c {
  float: right;
}

#k {
  float: left;
  margin-top: 0;
  margin-left: 5;
}
