/* =============================================================================
 * フィルターUI
 * ========================================================================== */
#filter {
  height: 60px;
  background-color: 202020;
  border-bottom: solid 4px #303030;
}

#filter__btn {
  cursor: pointer;
  background-color: transparent;
  border: none;
  outline: none;
  color: white;
  margin-left: 15px;
  line-height: 60px;
}

#filter__menu {
  background-color: #505050;
  width: 280px;
  z-index: 9999;
  margin-left: 15px;
  position: absolute;
}

#filter__menu button {
  cursor: pointer;
  padding: 5px;
  width: 100%;
  background-color: transparent;
  color: white;
  border: none;
  outline: none;
}

@media only screen and (max-width: 1000px) {
  #filter__btn {
    font-size: 20px;
  }

  #filter__menu button {
    font-size: 20px;
  }
}
